.login{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // padding-top: 10rem;
    align-items: center;
    width: 100vw;
    background: $primary;
    .img{
        height: 8rem;
        width: auto;
    }
    .card{
        border-radius: 5px;
        width: calc(100vh / 3);
    }
}